{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Lunah Carvalho{% endblock %}</title>

    <!-- Bootstrap local -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Tema personalizado -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>

<body>
    {% block content %}{% endblock %}
    
    <!-- 🔹 Bootstrap JS -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>